/*  
*{
	border:1px black solid;
 }
*/

header {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	background-color: moccasin;
	border: 10px solid burlywood;
}

header h1 {
	line-height: 1em;
	color:darkseagreen ;
	text-align: left;
	/*padding: 0 2em;*/
	border: 3px solid darkseagreen;
	font-size: 2.5em veranda;
}

header h2 {
	line-height: 1em;
	color: darkorange;
	text-align: left;
	padding-left: 10px;
	font-size: 1.2em veranda;
}

.lifestyle{
	color:darkseagreen;
	font-size: 1.3em
}

body {
	background-color: rgb(219, 208, 194);
	font-family: 'Poppins', sans-serif;
	margin: 0;
	min-width:1000px;
}

/*
.logoShadow {
	box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
      -khtml-box-shadow: 10px 10px 5px #ccc;
}
*/

.logoBox {
	width:25%;
	height:80px;
	/*border-right: 5px solid burlywood;*/
}

.logo {
	/* max-width:60%;
	max-height: 100%; */
	min-width:40%;
	max-width: 41%;
	height:80px;
}

/*
.dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }
  */

  /* Navbar container */
.navbar {
	overflow: hidden;
	background-color: #333;
	font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
	float: left;
	overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
	background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
	background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	display: block;
  }

  .makegreen {
	  color:darkseagreen;
  }

  .makeNashvilleBigger{
	font-size: 1.2em veranda;
	color:brown;
  }